@model ProductFormModel

@{
	ViewBag.Title = "Add Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
	<form method="post">
		<div class="form-group">
			<div class="mb-3">
				<label asp-for="ProductName"></label>
				<input asp-for="ProductName" class="form-control" placeholder="Write your product here..." />
				<span asp-validation-for="ProductName" class="small text-danger"></span>
			</div>
		</div>
		<input class="btn btn-primary mt-3" type="submit" value="Create" />
	</form>
</div>