@model AddOrEditHouseFormModel

@{
	ViewBag.Title = "Edit House";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AddOrEditHouseFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}